@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body::-webkit-scrollbar {
  width: 1.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: 19px 19px 38px #3e5a8e, -19px -19px 38px #6290e4;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #5075b9;
  box-shadow: inset 7px 7px 15px #3e5a8e, inset -7px -7px 15px #6290e4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #333;
}
body {
  background: linear-gradient(145deg, #4869a7, #567dc6);
  box-shadow: 19px 19px 38px #3e5a8e, -19px -19px 38px #6290e4;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.social {
  animation: 1s ease-out 0s 1 droptop;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social a img {
  border: 2px solid #86abf0;
  width: 70px;
  background: #5075b9;
  box-shadow: 5px 5px 14px #364e7c, -5px -5px 14px #6a9cf6;
}
.name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5f9ff;
}
.bio {
  font-size: larger;
  color: #e6f4f1;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.a,
.b,
.c {
  border-radius: 50px;
  background: #5075b9;
  box-shadow: inset 7px 7px 15px #3e5a8e, inset -7px -7px 15px #6290e4;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
:is(.a, .b, .c) span {
  position: relative;
  z-index: 2;
}

:is(.a, .b, .c):after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 50px;

  transition: all 0.35s;
}
.a:after {
  background-color: #98fb98;
}
.b:after {
  background-color: #afeeee;
  color: white;
}
.c:after {
  background-color: #ffffff;
}

:is(.a, .b, .c):hover:after {
  width: 100%;
  color: white;
}

.profilesection {
  animation: 1s ease-out 0s 1 slideInLeft;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
}
.textdis {
  border-radius: 50px;
  align-self: center;
  color: #fff;
  padding: 38px;
  /* background: linear-gradient(145deg, #567dc6, #4869a7);
  box-shadow: 19px 19px 38px #3e5a8e, -19px -19px 38px #6290e4; */
}
.textdis p {
  margin-top: 0.5rem;
}

.photosection {
  width: 400px;
}
.profilepic {
  width: 250px;
  height: 250px;
  border: 8px solid #7c9fe0;
  border-radius: 50%;
  background: linear-gradient(145deg, #4869a7, #567dc6);
  box-shadow: 19px 19px 38px #3e5a8e, -19px -19px 38px #6290e4;
}
.profilepic img {
  border-radius: 50%;
  width: 100%;
}

.prof .skills {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.skills h2 {
  align-self: center;
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.skillicons img {
  border-radius: 20rem;
  width: 70px;
  background: #5075b9;
  box-shadow: 5px 5px 14px #364e7c, -5px -5px 14px #6a9cf6;
}
.content {
  display: flex;
}
.category {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  border-radius: 23px;
  border-radius: 23px;
  border-radius: 23px;
  background: linear-gradient(145deg, #567dc6, #4869a7);
  box-shadow: 20px 20px 60px #3c588b, -20px -20px 60px #6492e7;
  padding: 2rem;
}
.category h3 {
  align-self: center;
  margin-bottom: 0.9rem;
}
.skillicons img {
  margin: 0.8rem;
  border: white solid 2px;
}

.profilesection a img {
  border-radius: 20rem;
  width: 3.5rem;
}
/* .upbutton {
  border-radius: 50px;
  background: #5075b9;
  box-shadow: inset 7px 7px 15px #3e5a8e, inset -7px -7px 15px #6290e4;
  width: 8rem;
  height: 2.5rem;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
.upbutton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}
.upbutton:hover {
  color: #fff;
}
.upbutton:hover:after {
  width: 100%;
} */
.badge-base.LI-profile-badge {
  background: url("./Bean.svg") center center no-repeat;
}
a.badge-base__link.LI-simple-link {
  display: none;
}

.badge-base.LI-profile-badge {
  margin-right: 42px;
}

@media only screen and (max-width: 1136px) {
  .badge-base.LI-profile-badge {
    margin-bottom: 38px;
    margin-right: 0px;
  }

  .profilesection {
    flex-wrap: wrap;
    margin: 4rem 0;
  }

  profilepic {
    margin: auto;
  }

  .textdis p {
    text-align: center;
  }
  .name {
    font-size: 2rem;
    text-align: center;
  }

  .social {
    flex-direction: row;
    width: 100%;
  }

  body {
    padding: 22px;
  }

  .skills h2 {
    text-align: Center;
  }

  .category {
    margin-bottom: 30px;
  }

  .a,
  .b,
  .c {
    width: 100px;
  }
  .content {
    flex-wrap: wrap;
  }
  .profilepic {
    margin: auto;
  }
}

/* animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes droptop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
